---
export interface Props {
  title?: string
  seoTitle?: string
  description?: string
  imageSrc?: string
  imageAlt?: string
}

const {
  title,
  seoTitle,
  description = 'My little garden 🌻 with knowledge and experience of what I have gained 😁',
  imageSrc = 'default-logo.png',
  imageAlt = 'Logo of Pinanek23'
} = Astro.props as Props

const formattedTitle = title === undefined ? 'Pinanek23' : `${title} - Pinanek23`
const formattedSeoTitle = seoTitle === undefined ? (title === undefined ? formattedTitle : title) : seoTitle
const canonicalUrl = Astro.canonicalURL.toString()
const imageUrl = new URL(imageSrc, Astro.site).toString()
---

<title>{formattedTitle}</title>

<meta name='description' content={description} />

<meta property='og:site_name' content='Pinanek23' />
<meta property='og:type' content='website' />
<meta property='og:url' content={canonicalUrl} />
<meta property='og:title' content={formattedSeoTitle} />
<meta property='og:description' content={description} />
<meta property='og:image' content={imageUrl} />
<meta property='og:image:alt' content={imageAlt} />

<meta property='twitter:card' content='summary_large_image' />
<meta property='twitter:url' content={canonicalUrl} />
<meta property='twitter:title' content={formattedSeoTitle} />
<meta property='twitter:description' content={description} />
<meta property='twitter:image' content={imageUrl} />
<meta property='twitter:image:alt' content={imageAlt} />

<link rel='canonical' href={canonicalUrl} />
